<%- include('partials/header') %> 
<div>
    <div class="container d-flex align-items-center justify-content-center" style="width: 50%; margin-top: 6%;">
        <div class="card">
            <div class="card-header">
                <center><h2 class="card-title">About Us</h2></center>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3"> Company Name:</dt>
                    <dd class="col-md-9">Fresh Mart Private Limited</dd>

                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9">info@example.com</dd>

                    <dt class="col-sm-3">Contact Number:</dt>
                    <dd class="col-sm-9">+1 (555) 123-4567</dd>

                    <dt class="col-sm-3">Address:</dt>
                    <dd class="col-sm-9">123 Main Street, Cityville, State, 12345</dd>
                </dl>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
   
<%- include('partials/footer') %>